* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: hsl(210, 46%, 95%);
  font-family: Manrope, sans;
  overflow: scroll;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  width: 327px;
  height: 512px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "avatar";
}

img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.box1 {
  display: block;
  grid-area: box1;
}

.box2 {
  display: block;
  grid-area: box2;
  background-color: white;
}

.headline {
  font-size: 16px;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  padding: 0 10% 5% 10%;
}

.text {
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  padding: 0 10%;
}

.avatar-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "avatar name-date share-icon";
  background-color: white;
  padding: 0 10% 10% 10%;
  border-radius: 0 0 10px 10px;
  grid-area: avatar;
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  width: 75%;
}

.name-date {
  grid-area: name-date;
}

.name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  font-size: 13px;
}

.date {
  font-weight: 500;
  color: hsl(214, 17%, 51%);
  font-size: 13px;
}

.share {
  background-color: hsl(210, 46%, 95%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.share:hover {
  cursor: pointer;
  background-color: hsl(210, 46%, 75%);
}

.arrow {
  width: 50%;
  height: auto;
  margin: 25%;
}

.avatar-container-active {
  display: none;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "share-text facebook twitter pinterest . share-active";
  padding: 0 10% 10% 10%;
  border-radius: 0 0 10px 10px;
  background-color: hsl(217, 19%, 35%);
}

.share-text {
  position: relative;
  top: 60%;
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}

.facebook,
.twitter,
.pinterest {
  background-color: hsl(217, 19%, 35%);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: relative;
  left: 5%;
  top: 60%;
}

.share-active {
  position: relative;
  left: 80%;
  top: 40%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: hsl(214, 17%, 51%);
}

.share-active:hover {
  cursor: pointer;
  background-color: hsl(210, 46%, 75%);
}

.arrow-active {
  width: 50%;
  height: auto;
  margin: 25%;
}

#page-container {
  position: relative; /* Helps in Footer alignment */
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

@media screen and (min-width: 730px) {
  .grid {
    width: 730px;
    height: 280px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      "box1"
      "boxWithAvatar";
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
  }

  .avatar {
    border-radius: 50%;
    width: 55%;
  }

  .avatar-container {
    border-radius: 0 0 10px 0;
  }

  .box2 {
    border-radius: 0 10px 0 0;
  }

  .avatar-container-active {
    display: none;
    position: relative;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "share-text facebook twitter pinterest . share-active";
    padding: 0 10% 10% 10%;
    border-radius: 0.4em;
    background-color: hsl(217, 19%, 35%);
    top: -250%;
    left: 160%;
  }

  .avatar-container-active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: hsl(217, 19%, 35%);
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
  }
}
